{
  "extends": ["@antfu"],
  "rules": {
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/brace-style": ["error", "1tbs"],
    "curly": ["error", "all"]
  },
  "ignorePatterns": ["!.playground"]
}
